/* Mobile First Styles */
/* Global Styles */

/*variables*/
:root{
  --red: rgb(218, 40, 40);
  --black:black;
}

/*reset*/
* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/*basic style*/

body {
  font-family: "poppins", sans-serif;
  background-color: black;
  color: white;
}

/* Navigation Styles */
nav {
  background-color: rgb(218, 40, 40);
  padding: 10px;
  display: grid;
  grid-template-columns: 40% 60%;
}

.logo {
  font-size: 24px;
}

ul {
  display: grid;
  grid-template-columns: auto auto auto;
}

 ul li {
  margin-top: 20%;
}

ul li:last-child {
  margin-right: 0;
}

ul li a {
  color: white;
}

/* Section Styles */
main section {
  padding: 20px;
  height: 100vh;
}

/* Section Home*/
#home{
  background-image: url(images/num5-removebg-preview.png);
  background-repeat: no-repeat;

}
.hero-text {
  padding-top: 50%;
  font-size: 21px;
  position: relative;
  font-weight: 700;
}
.hero-text span {
  color: rgb(218, 40, 40);
  font-size:22px;
  font-weight: 700;
}
/* Skills Section */
.skills h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.progress-bar {
  margin-bottom: 20px;
}

.progress-bar h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.progress-bar div {
  background-color: rgb(218, 40, 40);
  height: 20px;
  border-radius: 5px;
}

.progress-bar span {
  display: block;
  padding: 5px;
  color: white;
  font-weight: bold;
}

/* Contact Section */
.contact h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.contact-details p {
  margin-bottom: 10px;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

form button {
  background-color: rgb(218, 40, 40);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* Media Queries */
@media screen and (min-width: 768px) {
  /* Navigation Styles */
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ul li {
    display: inline;
    margin-right: 30px;
  }

  /* Section Styles */
  section {
    padding: 50px;
  }

  /* Skills Section */
  .progress-bar {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
  }
}

