@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,500&family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "popins", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}
.navbar {
  position: fixed;
  width: 100%;
  padding: 15px;
  background: crimson;
  font-family: "ubuntu", sans-serif;
}
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
.navbar .manu li {
  list-style: none;
  display: inline-block;
}
.navbar .manu li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
}
.home {
  display: flex;
  background-color: #080808;
  /*background: url("images/ndiya2.jpg");*/
  background-attachment: fixed;
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 500px 700px;
  height: 100vh;
  font-family: "ubuntu", sans-serif;
  color: #fff;
}
.home .max-width {
  margin: auto 0 auto 10px;
}
.home .home-content .text-1 {
  font-size: 27px;
  font-weight: 600;
}
.home .home-content .text-2 {
  font-size: 65px;
  font-weight: 600;
  margin-left: 100px;
}
.home .home-content .text-3 {
  font-size: 65px;
  font-weight: 600;
  margin-left: 300px;
}
.home .home-content .text-4 {
  font-size: 40px;
  margin: 5px 0;
}
.home .home-content .text-4 span {
  color: crimson;
  font-weight: 600;
}
