/* Mobile First Styles */
/* Global Styles */

/*variables*/
:root{
  --red: rgb(218, 40, 40);
  --black:black;
}

/*reset*/
* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/*basic style*/

body {
  font-family: "poppins", sans-serif;
  background-color: black;
  color: white;
}

/* Navigation Styles */
nav {
  background-color: rgb(218, 40, 40);
  padding: 10px;
  display: grid;
  grid-template-columns: 40% 60%;
}

.logo {
  font-size: 24px;
}

ul {
  display: grid;
  grid-template-columns: auto auto auto;
}

 ul li {
  margin-top: 20%;
}

ul li:last-child {
  margin-right: 0;
}

ul li a {
  color: white;
}

/* Section Styles */
main section {
  height: 100vh;
}

/* Section Home*/
#home{
  background-image: url(images/num5-removebg-preview.png);
  background-repeat: no-repeat;
  opacity: 0.8;
  background-position: 0 20px 0 0;

}
.hero-text {
  padding-top: 10%;
  font-size: 20px;
  position: relative;
  font-weight: 700;
  color: red;
}

.hero-text span {
  color: orangered;
  font-size:22px;
  font-weight: 700;
}
/* Skills Section */
#text {
  color: rgb(218, 40, 40);
  font-size: 1.5em;
  font-weight: bold;
  width: 100%;
  background:black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  width: 100%;
  height: 90vh;
  background:black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills h2{
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 5px;
  color:#fff;
  font-size: 16px;
}

.progress-bar{
  background:#fff;
  width: 100%;
  height: 10px;
  border-radius: 5px;
}

.progress-bar div{
  height: 10px;
  border-radius: 5px;
  width: 0% ;
}
.progress-bar div span{
  height: 40px;
  width:40px;
  border-radius: 50%;
  background:rgb(218, 40, 40);
  float: right;
  margin-top:-15px;
  margin-right: -20px;
  color:#fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.html{
background: #E44D26;
animation: html 1s linear forwards;
}
.css{
  background: #1572B6;
  animation: css 1.5s linear forwards;
}
.javascript{
  background: #F7DF1E ;
  animation: javascript 2s linear forwards;
}
.python{

  background: #367C2B ;
  animation: python 2.5s linear forwards;
}
.java{
  background:  #FF7F50  ;
  animation: java 3s linear forwards;
}
.c{
  background: #555555;
  animation: c 2s linear forwards;
}

.html span{
  border: 1px solid #E44D26;
  }
  .css span{
    border: 1px solid #1572B6;
  }
  .javascript span{
    border:1px solid#F7DF1E 
  }
  .python span{
    border:1px solid #367C2B;
  }
  .java span{
    border:1px solid #FF7F50  ;
  }
  .c span{
    border:1px solid #555555;
  }

  @keyframes html {
    100%{
      width:80%;
    }
  }
  @keyframes css {
    100%{
      width:60%;
    }
  }
  @keyframes javascript {
    100%{
      width:65%;
    }
  }
  @keyframes python {
    100%{
      width:75%;
    }
  }
  @keyframes java {
    100%{
      width:45%;
    }
  }
  @keyframes c {
    100%{
      width:40%;
    }
  }

/* Contact Section */
.contact h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.contact-details p {
  margin-bottom: 10px;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

form button {
  background-color: rgb(218, 40, 40);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}


