@media screen and (max-width:1282px) {

  .profile {
   /* border:6px solid; */
    /*check check check*/
    /* overflow: hidden; */
    max-height: 800px;
    /* padding-bottom: 30px; */
    left: 900px;
 
  }
 
  .landing-column-1 {
    /* border: 2px solid ; */
    flex-direction: column;
    display: flex;
    position: relative;
    gap:270px;
  }
 
  .landing-column-1__text {
    /* border: 2px solid rgb(0, 255, 157); */

    display: flex;
    flex-direction: column;
    position: relative;
  }
 
  .landing-column-1__text__name {
    /* border: solid gold; */
    display: flex;
    flex-direction: column;
    align-items: start;
   
  }
 
  .landing-column-1__text__name h1 {
    /* border: solid blue; */
    width: 100%;
    padding: 0.625rem;
    min-width: 539.367px;
    
  }
 
  .landing-column-1__text__name h2 {
    padding: 0.625rem;
    color: var(--secondary);
  }
 
  .landing-column-1__hero-text {
    /* border: solid palevioletred; */
    width: 100%;
    line-height: auto;
    padding-left: 0.625rem;
    padding-top: 1.25rem;
    font-size: 1.675rem;
 
  }
 
  .landing-column-1__contact {
    /* border: solid green; */
    display: flex;
    align-items: center;
    padding: 0.625rem;
    padding-top: 2.188rem;
  }
 
  .landing-column-1__contact__button {
    color: var(--fourth);
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    font-size: 0.938rem;
    background-color: var(--secondary);
    height: 2.625rem;
    /* min-width: 128px; */
    border-radius: 0.313rem;
    /* border: solid yellow; */
  }
 
  .landing-column-1__contact__socials {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    gap: 1.313rem;
    flex: 1;
    display: flex;
    /* border: solid blue; */
  }
 
  .landing-column-1__contact__socials__linkedin {
    height:  2.625rem;;
    width:  2.625rem;;
    /* border: solid ; */
  }
 
  .landing-column-1__contact__socials__twitter {
    height: 2.625rem;
    width:  2.625rem;;
 
    /* border: solid ; */
 
  }
 
  .landing-column-1__CV-download {
    gap: 10px;
    display: flex;
    align-items: center;
    padding-top: 25px;
    /* border: solid; */
  }
 
  .landing-column-1__CV-download__image {
    height: 1.625rem;
    width: 1.625rem;
    margin-bottom: 0.438rem;
  }
 
  .landing-column-1__CV-download__text {
    align-self: end;
  }
 
  .landing-column-2 {
    /* border: solid rebeccapurple; */
    /* padding-top: 3.38rem;
   padding-bottom: 3.38rem; */
    /* gap:38rem; */
    display: flex;
    /* height: 32.34rem; */
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    /* height: auto; */
    position: relative;
    /* left: 60px; */
   
 }
 
  .landing-column-2__gallary-stack {
    /* border: 5px solid pink; */
    position: relative;
    height: 45.88rem;
    width: 27.852rem;
    display: flex;
    align-items: center;
    justify-content: center;
   
    
    /* @media screen and (max-width:1052) {
     height: 30.88rem;
    width: 31.852rem;
    } */
  }
 
  .landing-column-2__gallary-stack__main-image-block {
    /* border: solid blueviolet; */
    background: linear-gradient(225deg,
        #00a8cdff 0%,
        rgba(0, 0, 0, 0.3),
        #84848400 80%);
    box-shadow: 2px 2px 0px 1px #00a8cd;
    height: 23rem !important;
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    /* align-items: end; */
    position: absolute;
    /* bottom: -0.06rem;
   right: 0.06rem;
   margin: auto; */
  }
 
  .landing-column-2__gallary-stack__main-image-block {
    /* border: solid green; */
    height: 28.125rem;
    
  }
 
  .flex-even {
    flex: 1;
  }
 
  .small-circle {
    bottom: 0px;
    margin: auto;
    height: 300px;
    width: 300px;
    transform: rotate(100deg);
    background: linear-gradient(225deg,
        #00a8cda6 0%,
        rgba(0, 0, 0, 0.3),
        #d9d9d900 99%);
    position: absolute;
    left: 10.5rem;
    top: 20.75rem;
    border-radius: 13.625rem;
  }
 
  .big-cirlce {
    /* border: solid palevioletred; */
    height: 300px;
    width: 300px;
    transform: rotate(-71deg);
    background: linear-gradient(225deg,
        #00a8cda6 0%,
        rgba(0, 0, 0, 0.3),
        #d9d9d900 99%);
 
    position: absolute;
    right: 10.5rem;
    top: 50px;
    /* top: 0px;
   margin: auto; */
    border-radius: 13.625rem;
    
  }
 
  .css-image {
   /* border: solid yellow; */
    position: absolute;
    margin-left: 15.063rem;
    z-index: -1;
    /* bottom: 0px;
    top: 0px;
    margin-top: auto; */
    /* margin-bottom: auto; */
  }
 .node-js-image{
   position: absolute;
   margin-bottom: 370px;
   z-index: -1;
 }
 
 .figma-image{
   position: absolute;
   margin-bottom: 350px;
   margin-right: 240px;
   z-index: -1;
 }
 
 .js-image{
   position: absolute;
   margin-bottom: 390px;
   margin-left: 190px;
   width: 75px;
 }
 .html-image{
   position: absolute;
   margin-right: 300px;
   margin-top: 150px;
   
 }
 
 .docker-image{
   position: absolute;
   height: 100px;
   margin-bottom: 220px;
   margin-left: 380px; /* not sure*/
 }
 
 .python-image{
   position: absolute;
   height: 100px;
   opacity: 0.7; /* not sure*/ 
   margin-top: 400px;
   margin-left: 300px;
 }
 
  .column__logo {
    /* border: solid blue; */
    /* flex:1; */
    display: flex;
    /* flex-direction: column; */
    /* align-items: end; */
    position: absolute;
    top: 0rem;
    right: 0px;
    /* left:0px; */
    margin: auto 0.5rem;
  }
 
 
 
  .column__line {
    /* border: 5px solid saddlebrown; */
    margin-bottom: 0.25rem;
    padding-left: 3.5rem;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 
  .frame-six__line {
    /* border: solid greenyellow; */
    height: 0.4rem;
    background: linear-gradient(90deg, #00a8cd, #00a8cd00);
    width: 100%;
  }
 
 .main-image{
   /* border: 1px solid; */
   margin-bottom: 3.938rem;
   margin-right: 5.938rem;
  width: 20rem;
 }
}

@media screen and (max-width:851px) {
  .landing-column-1__text {
    /* border: 2px solid rgb(0, 255, 157); */
    min-width: 399px;
  }

  .landing-column-1__hero-text{
    font-size: 1.5rem;
  }

  .figma-image{
    margin-bottom: 360px;
    margin-right: 190px;
    z-index: -1;
  }

  .html-image{
    margin-right: 300px;
    margin-top: 250px;
    
  }
}