/* Contact Section */
#contact{
  /* border: 1px solid yellow; */
  margin-top:  100vh;
  position: absolute;
  width: 100%;
  
}
.contact-content {
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  /* border: solid orange; */
  text-align: center;
}

.contact-content h2 {
  /* border: solid ; */
  font-size: 38px;
  color: var(--fourth);
  /* margin-bottom: 20px; */

}
.contact-content h2 span{
  color: var(--secondary);
}

.contact-content p {
  font-size: 1.2rem;
  line-height: 2.6;
}

.contact-form{
  /* border: solid green; */
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;
  width: 60%;
}

.form-group{
  /* border: solid grey; */
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
}
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  margin-bottom: 15px;
  /* border: 2px solid var(--secondary); */
  border-radius: 5px;
  background-color: var(--fourth);
  color: var(--primary);

}

.contact-form textarea {
  height: 150px;
}
.contact-form button {
  background-color:var(--secondary);
  color:var(--fourth);
  border: none;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
  margin-bottom: 30px;
}

.contact-form button:hover {
  background-color: #00cbf8;
}


.contact-details a:hover {
  color: var(--secondary);
}

.download-button {
  border: none;
  /* border: solid yellow; */
  background-color: var(--secondary);
  color: var(--fourth);

  padding: 10px 10px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
}

.download-button:hover {
  background-color: #00cbf8;
} 