@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    @keyframes loading {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(250%);
        }
    }
    .animate-loading-bar {
        animation: loading 0.8s ease infinite;
    }
}

@keyframes fade-slide-down {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-fade-slide-down {
    animation: fade-slide-down 0.4s ease-out;
  }
  