@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    @keyframes loading {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(250%);
        }
    }
    .animate-loading-bar {
        animation: loading 0.8s ease infinite;
    }
}

@keyframes fade-slide-down {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-fade-slide-down {
    animation: fade-slide-down 0.4s ease-out;
  }
  
  @keyframes scroll-left {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .scroll-animate {
    animation: scroll-left 30s linear infinite;
  }
  
  .scroll-animate:hover {
    animation-play-state: paused;
  }
  
  
.scrollbar::-webkit-scrollbar {
  height: 12px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #a0aec0;
  border-radius: 6px;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: #edf2f7;
}
